In [1]:
import os
import math
import glob #untuk mengambil semua file dalam satu folder
import requests #supaya bisa mengambil data dari website dengan cara request
from pyforest import * #numpy, pandas, matplotlib, seaborn, dll

In [2]:
import missingno as msno #bantu dalam missing data
import sweetviz as sv #eksplorasi data

In [3]:
df = pd.read_csv('C:/Users/Asus/dataset/data_cleaned_df7.csv')
df

,Nama,Kota,Kabupaten,Deskripsi,Latitude,Longitude,Kamar Tidur,LB (m2),LT (m2),Harga
0,Dijual Rumah Strategis Bebas Banjir Pondok Ung...,Babelan,Bekasi,Pondok Ungu Permai .Blok AD16 (J-17533) Pondok...,-6.190236,107.019619,2,100,60,560.0
1,Rumah Bintara 2 Lantai Lokasi Baru & Strategis,Bintara Jaya,Bekasi,Di Jual Rumah Bintara Jaya Dekat Ke LRT Cikuni...,-6.240000,106.950618,3,90,60,825.0
2,Rumah 3 Lantai Strategis di Kota Harapan Indah...,Harapan Indah,Bekasi,"Dijual Cepat Rumah siap huni lokasi strategis,...",-6.181752,106.973684,4,250,163,2040.0
3,Jual Cepat rumah di Harapan indah Bekasi Harga...,Harapan Indah,Bekasi,Lokasi sangat strategis : ยง Dekat dengan Pusat...,-6.181752,106.973684,2,84,94,755.0
4,Dijual Rumah Siap Huni Tanah Luas di Kota Beka...,Harapan Indah,Bekasi,"Perumahan Graha Harapan (J-15927) MUSTIKAJAYA,...",-6.181752,106.973684,3,95,128,860.0
...,...,...,...,...,...,...,...,...,...,...
7187,Rumah Eksklusif di Sentul Alaya Lokasi Terbaik...,Sentul,Bogor,Rumah Eksklusif di Sentul Alaya Lokasi Terbaik...,-6.521133,106.850288,3,95,180,2350.0
7188,Dijual Rumah Murah Siap Huni Dan Sudah Renovas...,Parung,Bogor,J-9060 SHM LT 82 LB 39 1 Lantai 2 Kamar Tidur ...,-6.427080,106.724485,2,39,82,600.0
7189,Dijual Rumah 2 Lantai Di Cluster Siap Huni Dek...,Cilebut,Bogor,J-17894 Harga yang tertera adalah harga Not Al...,-6.529410,106.795715,2,48,84,820.0
7190,Rumah Murah Bebas Banjir Harga Nego Bisa KPR d...,Bogor,Bogor,Bali Resort Gunung Sindur (J-17691) Bali Resor...,-6.597150,106.806039,2,56,68,800.0
7191,Dijual Rumah Murah Sudah Renovasi Dekat Aeon S...,Sentul,Bogor,J-17780 SHM LT 72 LB 50 1 Lantai 2 Kamar Tidur...,-6.521133,106.850288,2,50,72,730.0

In [11]:
home = len(df[df['Harga'] > 1000])
home

3313

In [12]:
total = len(df)

In [13]:
persentase_home = (home/total) * 100
persentase_home

46.0650723025584

In [14]:
print(f"Persentase rumah dengan harga lebih dari 1000: {persentase_home:.2f}%")

Persentase rumah dengan harga lebih dari 2000: 46.07%

In [15]:
df.describe()

,Latitude,Longitude,Kamar Tidur,LB (m2),LT (m2),Harga
count,7192.000000,7192.000000,7192.000000,7192.000000,7192.000000,7192.000000
mean,-6.309222,106.791768,2.843854,94.552836,100.972469,1372.239294
std,0.125068,0.150654,1.033418,66.950219,63.730187,1225.620085
min,-6.736270,106.412615,1.000000,1.000000,1.000000,1.000000
25%,-6.402270,106.679240,2.000000,46.000000,60.000000,570.000000
50%,-6.303351,106.795063,3.000000,70.000000,81.000000,950.000000
75%,-6.190089,106.890119,3.000000,120.000000,119.000000,1744.000000
max,-6.058140,107.218060,11.000000,365.000000,605.000000,6700.000000

In [17]:
rata_harga = df['Harga'].mean()
rata_harga

1372.2392936596218